body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


/* Heading */
h1 {
    background-color: cadetblue;
    color: aliceblue;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}


/* Add Contact Section */
.info {
    background-color: rgb(211, 96, 96);
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    width: 60%;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}


/* Input boxes */
input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 12px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}


/* Buttons */
button {
    border: none;
    padding: 10px 20px;
    background-color: cadetblue;
    color: aliceblue;
    border-radius: 8px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
}

button:hover {
    background-color: rgb(61, 130, 132);
}


/* Search */
#search {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 12px;
    border: none;
    background-color: rgb(211, 96, 96);
    color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    outline: none;
}


#search::placeholder {
    color: bisque;
}


/* Contact List */
#contactList {
    width: 60%;
    margin: 20px auto;
}


/* Contact Cards */
#contactList .info {
    background-color: rgb(211, 96, 96);
    color: bisque;
    width: auto;
    margin: 15px 0;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}


/* Contact name */
.info h2 {
    margin-top: 0;
    text-align: center;
}


/* Contact phone */
.info p {
    text-align: center;
}


/* Total contacts */
#totalContacts {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
}